//- after install template engine, npm install --save ejs pug express-handlebars
//- write app.set('view engine', 'pug') and,
//-  app.set('views', 'views') in app.js as a default engine, 
//- then usen res.render() method

//- from admin.js router.get('/add-product', (req,res, next) => {})

doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title #{pageTitle}
    //- similar yield('styles') in laravel, 
    //- then call @extends('main-layout') to other pub file then
    //- given @section('key', 'value') to pass prop here
    block styles
    
    //- we cannot just place the css path like,
    //- that we should use
    //- `app.use(express.static(path.join(__dirname, 'public')))`
    //- in app.js in order to access here,
    //- after that omit `/public` path.
    link(rel='stylesheet' href='/css/main.css')
    header.main-header
        nav.main-header__nav
            ul.main-header__item-list
                li.main-header__item
                    a(href='/', class=(path==='/' ? 'active' : '')) Shop
                li.main-header__item
                    //- since all pug file has link to main-layout, every middleware of js passed props able to receive here as well.
                    //- path is from admin.js router.get('/add-product')
                    a(href='/admin/add-product', class=(path==='/admin/add-product' ? 'active' : '')) Add Product
    //- similar yield('content') in laravel
    //- then call @extends('main-layout') to other pub file then
    //- given @section('key', 'value') to pass prop here
    block content
