<!-- include(path_to_file) like laravel -->
<!-- include must has minus - infront -->
<%- include('includes/head.ejs') %>
<body>

    <%- include('includes/navigation.ejs') %>
    <main>
        <h1>Page Not Found!!!</h1>
    </main>

<%- include('includes/end.ejs') %>